.tab {
  position: relative;
  padding: 0;
  margin-bottom: 1em;
  // border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  // background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));

  &:first-of-type {
    // border-radius: rem(4px) 0 0 rem(4px);

    @mixin rtl {
      // border-radius: 0 rem(4px) rem(4px) 0;
    }
  }

  &:last-of-type {
    // border-radius: 0 rem(4px) rem(4px) 0;
margin-bottom: 0;
    @mixin rtl {
      // border-radius: rem(4px) 0 0 rem(4px);
    }
  }

  & + & {
    border-left-width: 0;

    @mixin rtl {
      border-right-width: 0;
      border-left-width: rem(1px);
    }
  }
  &:hover{
    background-color: rgb(245, 234, 77);
    span.icon {
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotateZ(90deg);
      background-color: red;
    }
  }
  @mixin hover {

    background-color: red;
  }
  &[data-active] .icon {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    display: inline-block;
    transform: rotateZ(180deg);
  }
  &[data-active] {
    z-index: 1;
    // background-color: var(--mantine-color-blue-filled);
    text-decoration: underline;
    border-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-red-5);
    

    @mixin hover {
      background-color: var(--mantine-color-blue-filled-hover);
    }
  }
}
.list{
justify-content: space-between;
}
