@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: 'terminal';
  src: url('../public/fonts/terminal-grotesque-webfont.eot');
  src: url('../public/fonts/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/terminal-grotesque-webfont.woff2') format('woff2'),
       url('../public/fonts/terminal-grotesque-webfont.woff') format('woff'),
       url('../public/fonts/terminal-grotesque-webfont.ttf') format('truetype'),
       url('../public/fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'authentic_l';
  src: url('../public/fonts/autentic/AUTHENTICSans-60.woff') format('woff');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'authentic_n';
  src: url('../public/fonts/autentic/AUTHENTICSans-90.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sligoil';
  src: url('../public/fonts/Sligoil-Micro.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'authentic_b';
  src: url('../public/fonts/autentic/AUTHENTICSans-130.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
// @font-face {
//   font-family: 'authentic';
//   src: url('/fonts/autentic/AUTHENTICSans-150.woff') format('woff');
//   font-weight: bolder;
//   font-style: normal;
// }
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

.taps .mantine-Tabs-root {
  border: none;
  width: 100%;
  display: flex;
}
.taps .mantine-Tabs-list::before {
  border: none;
}
.taps .mantine-Tabs-list {
  border: none;
  width: 50%;
  padding: 0;
  button{
    padding: 0;
  }
}
.taps .mantine-Tabs-panel {
  border: none;
  width: 50%;
}

.taps .mantine-tabs-tab {
  padding: 0;
}
.mantine-tabs-tab:hover {
  cursor: pointer;
}
